* {
  box-sizing: border-box;
  /* border: 1px solid red; */

}

:root {
  --color-hud: grey;
  --color-space: black;
  --color-buttons: darkgrey;
}


body {
  /* viewport units: vh (viewport height), vw (viewport width), vmin (smallest between vh & vw) */
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

#computerBoard {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 5vmin);
  grid-template-rows: repeat(6, 5vmin);
  gap: .1vmin;
}

#computerBoard>div {
  background-color: lightgrey;
}

#playerBoard {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 5vmin);
  grid-template-rows: repeat(6, 5vmin);
  gap: .1vmin;
}

#playerBoard>div {
  background-color: lightgrey;
}

/* No longer works because of the cells auto updating */
#computerBoard>div:hover {
  background-color: rgba(67, 65, 65, 0.913);
}


#gameTitle {
  font-size: 5vmin;
}

#messageBar {
  font-size: 3vmin;
  text-align: center;
}

#createdBy {
  font-size: 1.5vmin;
}