* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

:root {
  --color-hud: grey;
  --color-space: black;
  --color-buttons: darkgrey;
}

body {
  height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  color: rgb(101, 231, 233);
}

a {
  color: rgb(101, 231, 233);
}

#gameTitle {
  margin: 1vmin auto;
  font-family: 'Bruno Ace SC', sans-serif;
  font-size: 7.8vmin;
  text-align: center;
}


#main {
  width: 95vmin;
  height: 123vmin;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  padding: 1.2vmin;
  padding-left: 2vmin;
  /* border: .8vmin solid rgb(43, 98, 101); */
  border: 1.5vmin solid rgba(115, 250, 250, 0.35);
  border-radius: 0.4vmin 3vmin 3vmin 0.4vmin;
  background-color: black;
}

#leftPanel {
  height: 115vmin;
  width: 67vmin;
  display: flex;
  flex-direction: column;
  gap: .5vmin;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#rightPanel {
  height: 115vmin;
  width: 22vmin;
  display: flex;
  flex-direction: column;
  gap: .5vmin;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#computerDashboard {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2vmin;
  font-weight: bold;
  height: 12vmin;
  border-radius: 2vmin;
  color: rgb(110, 239, 240);
  background-color: rgb(23, 54, 55);
  border: .5vmin outset rgb(110, 239, 240);
  width: 21vmin;
}

#weaponDashboard {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2vmin;
  font-weight: bold;

  border-radius: 2vmin;
  color: rgb(110, 239, 240);
  background-color: rgb(23, 54, 55);
  border: .5vmin outset rgb(110, 239, 240);
  height: 40vmin;
  width: 21vmin;
}

#alienDashboard {

  width: 21vmin;
  height: vmin;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vmin;
  background-color: rgb(23, 54, 55);
  border: .5vmin outset rgb(110, 239, 240);
}

#alien {
  position: relative;
  width: 100%;
}

#playerDashboard {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2vmin;
  font-weight: bold;
  height: 12vmin;
  border-radius: 2vmin;
  color: rgb(110, 239, 240);
  background-color: rgb(23, 54, 55);
  border: .5vmin outset rgb(110, 239, 240);
  width: 21vmin;
}

.weaponButtonsBox {
  /* height: 40vmin;
  width: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: .5vmin .5vmin;
  gap: 1vmin;
}

.shelf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weaponButton {
  padding: 0;
  margin-top: .7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vmin;
  height: 10vmin;
}

.weaponButton:hover {
  /* border: .5vmin inset rgb(110, 239, 240); */
  background-color: blueviolet;
}


.buttonImages {
  height: 7vmin;
  width: 7vmin;
  margin-right: -4.05vmin;
}

/* .buttonImages:hover {
filter: invert(100%);
} */

.playerNames {
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: .15em;
  margin: .5vmin auto;
  font-size: 2.5vmin;
}

#computerFleetHealth {
  font-size: 4vmin;
  padding: 0;
  margin: -.5vmin;
}

#playerFleetHealth {
  font-size: 4vmin;
  padding: 0;
  margin: -.5vmin;
}

.fleetText {
  font-size: 0vmin;
}

button {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  width: 20vmin;
  height: 13vmin;
  padding: 1vmin;
  margin: .5vmin;
  font-size: 3.5vmin;
  border-radius: 1vmin;
  border: .5vmin outset rgb(110, 239, 240);
  color: rgb(86, 187, 190);
  background-color: rgb(23, 54, 55);
}



button:hover {
  color: rgb(23, 54, 55);
  background-color: rgb(110, 239, 240);
}



#messageBar {

  display: flex;
  justify-content: center;
  font-size: 4vmin;
  letter-spacing: .15em;
  align-items: center;
  height: 32vmin;
  padding: 5vmin;
  border-radius: 4vmin;
  color: rgb(110, 239, 240);
  /* text-shadow: 0 0 .2vmin rgb(209, 248, 243); */
  background-color: rgb(23, 54, 55);
  margin: 1vmin auto;
  border: .5vmin outset rgb(110, 239, 240);
}



#computerBoard {
  height: 40vmin;
  width: 66vmin;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 6vmin);
  grid-template-rows: repeat(6, 6vmin);
  gap: .5vmin;
  background-color: rgb(14, 32, 33);
  border-radius: 1vmin;
}

#playerBoard {
  height: 40vmin;
  width: 66vmin;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 6vmin);
  grid-template-rows: repeat(6, 6vmin);
  gap: .5vmin;
  background-color: rgb(14, 32, 33);
  border-radius: 1vmin;
}

.board {
  transition: border 0.15s ease-in-out;
  border: 1vmin solid transparent;
}

.computer-active {
  border: 1vmin double rgb(110, 239, 240);
}

.player-active {
  border: 1vmin double rgb(110, 239, 240);
}

#footer {
  margin-top: 2vmin;
}

#createdBy {
  font-size: 3vmin;
  text-align: center;
}

/* VISIBLE */
.horizontalFront {
  border-radius: 60% 0 0 60%;
}

.horizontalRear {
  border-radius: 0 30% 30% 0;
}

.verticalFront {
  border-radius: 60% 60% 0 0;
}

.verticalRear {
  border-radius: 0 0 30% 30%;
}

/* INVISIBLE */

.horizontalFrontTemp {
  border-radius: 0 0 0 0;
}

.horizontalRearTemp {
  border-radius: 0 0 0 0;
}

.verticalFrontTemp {
  border-radius: 0 0 0 0;
}

.verticalRearTemp {
  border-radius: 0 0 0 0;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vmin;
  height: 4vmin;
  font-size: 2.6vmin;
  position: relative;
  bottom: -3.5vmin;
  right: -2.8vmin;
  border: .4vmin solid blueviolet;
  background-color: rgb(110, 240, 243);
  color: rgb(23, 54, 55);
  border-radius: .5vmin;
  padding: 0 0;
  font-weight: 500;
  margin: 0;
}



.toolTip {
  position: relative;
  display: inline-block;

}

.toolTip .tipText {
  font-family: 'Open-sans', sans-serif;
  font-size: 2.5vmin;
  visibility: hidden;
  width: 20vmin;
  background-color: blueviolet;
  /* border: .2vmin solid rgb(110, 240, 243); */
  color: white;
  text-align: center;
  border-radius: 5vmin;
  padding: 1vmin;
  position: absolute;
  z-index: 1;
  top: 115%;
  left: 28%;
  margin-left: -7.3vmin;
}

.toolTip .tipText::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 50%;
  margin-left: -2.5vmin;
  border-width: 2.5vmin;
  border-style: solid;
  border-color: transparent transparent blueviolet transparent;

}

.toolTip:hover .tipText {
  visibility: visible;
}

.toolTipTitle {
  font-weight: 700 !important;

}

.toolTipBody {
  font-weight: 500 !important;
}


@media screen and (min-width: 600px) {
  #main {
    width: 84vmin;
    height: 85vmin;
    border: .8vmin solid rgba(115, 250, 250, 0.35);
    border-radius: 0.4vmin 3vmin 3vmin 0.4vmin;
    padding-left: 0vmin;
  }

  #gameTitle {
    font-size: 6vmin;
  }

  #computerDashboard {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2vmin;
    font-weight: bold;
    height: 12vmin;
    border-radius: 2vmin;
    color: rgb(110, 239, 240);
    background-color: rgb(23, 54, 55);
    border: .5vmin outset rgb(110, 239, 240);
    width: 21vmin;
  }

  #rightPanel {
    height: 81vmin;
    width: 20vmin;

  }

  #leftPanel {
    height: 81vmin;
    width: 57vmin;
  }

  #messageBar {

    height: 10vmin;
    font-size: 2vmin;
    padding: 0;
    margin: .5vmin;

  }





  #computerBoard {
    height: 35.5vmin;
    width: 56.5vmin;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(6, 5vmin);
  }

  #playerBoard {
    height: 35.5vmin;
    width: 56.5vmin;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(6, 5vmin);
  }


  button {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    width: 20vmin;
    height: 6.7vmin;
    padding: 1vmin;
    margin: .5vmin;
    font-size: 2vmin;
  }

  .weaponButton {

    width: 5.5vmin;
    height: 5.5vmin;
  }

  .weaponButtonsBox {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: .5vmin .5vmin;
    height: auto;
    width: auto;
    margin-top: .5vmin .5vmin;
    gap: 0vmin;
  }

  #weaponDashboard {
    height: 8vmin;
    width: 21vmin;
  }

  #computerFleetHealth {
    font-size: 3vmin;
    padding: 0;
    margin: -.5vmin;
  }

  #playerFleetHealth {
    font-size: 3vmin;
    padding: 0;
    margin: -.5vmin;
  }

  .fleetText {
    font-size: 2vmin;
  }

  #alienDashboard {
    height: 33vmin;
  }

  .buttonImages {
    height: 3vmin;
    width: 3vmin;
    margin-right: -1.9vmin;
  }

  .badge {
    width: 1.9vmin;
    height: 1.9vmin;
    font-size: 1.3vmin;
    bottom: -2vmin;
    right: -1.5vmin;
    border-radius: .5vmin;
    margin: 0;
    border: .2vmin solid blueviolet;
    padding: 0 .4vmin;
  }

  #createdBy {
    font-size: 1.5vmin;
  }


  .toolTip .tipText {
    font-size: 1.5vmin;

    width: 15vmin;

    border-radius: 5vmin;
    padding: 1vmin;

    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -7.3vmin;
  }

  .toolTip .tipText::after {
    bottom: 100%;
    left: 50%;
    margin-left: -1vmin;
    border-width: 1vmin;

  }


}